<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
  <div class="banner-content">
    <h1>Learn surf</h1>
    <p>Very cool stuff, useful and smart</p>
    <form action="" method="get" class="search">
      <div class="form_field">
        <input type="search" name="search" placeholder="What are you looking for?" class="form__input">
        <input type="" name="test">
        <input type="submit" value="Search" class="button">
      </div>

    </form>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="text-center">
      <h1>How it's work ?</h1>
    </div>
    <% if Camp.count >= 1 %>
      <div class="row">
        <% @camps.each do |camp| %>
          <%= link_to camp_path(camp) do %>
            <div class="col-xs-12 col-sm-4">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
                <div class="card-description">
                  <h2><%= camp.title %></h2>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
     <h1> No surfCamp </h1>
    <% end %>
  </div>
</div>

