.search_bar {
  height: 80px;
  width: 150px;
  border-radius: 4px;
  background-color: transparent;
  text-decoration: none;
  color: white;
  border: 0;
  border-bottom: 4px solid #114c76;
}
.search_bar:focus {
  outline: none;
}
